name: Build APK

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          python3 python3-pip python3-setuptools \
          openjdk-17-jdk unzip zip \
          libtinfo6 libffi-dev libssl-dev \
          libsqlite3-dev zlib1g-dev

    - name: Install buildozer
      run: |
        pip install --upgrade pip
        pip install buildozer
        pip install cython

    - name: Build APK
      run: |
        buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-release
        path: bin/*.apk
